@import 'palette';

/* tweet */
article {
  border-style: solid;
  padding: 1.5em;
  margin: 5px
}
article:hover {
  box-shadow: 5px 5px $grey;;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.email {
  color: $grey;
}

hr {
  height:3px;
  width: auto;
  background-color: black;
  border: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-flag:hover {
  color: $light_blue;
}

.fa-retweet:hover {
  color: $light_blue;
}

.fa-heart:hover {
  color: $light_blue;
}

