main {
  display: flex;
  justify-content: center;
  width: 90%; 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color : transparent;
}

textarea {
  display: flex;
  justify-content: center;
  width: 600px;
  outline: none;
  resize: none;
  overflow: auto;
  border-bottom:solid;
}

button {
  
  color: white;
  background-color: royalblue;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}